---
layout: default
title: Còdec
page: home
---

<section id="home" class="home__section">
    <h1 class="home__title title is-1" style="display: none"></h1>
    <p class="subtitle is-3" style="display: none">Codis comuns per una tecnologia més democràtica</p>
	<div class="home__landing">
		<div class="home__title"></div>
	</div>
	<div class="home__landing-chevron"></div>
</section>
<section id="work" class="home__section">
    <div class="home__section-content">
        <div class="home__services">
            <div class="home__section-row columns">
                <div class="home__section-column column is-8">
                    <h3 class="title is-3">Codifiquem la web</h3>
                    <h4 class="subtitle is-5">Convertim el teu projecte en codi</h4>
                    <a class="button is-link" href="{{ base.url | prepend: site.url }}/products.html"><b>Fes la teva web amb nosaltres!</b></a>
                </div>
                <div class="home__section-column img-column column is-4">
                    <figure>
                        <a href="{{ base.url | prepend: site.url }}/products.html"><img src="{{ base.url | prepend: site.url }}/assets/images/developer.png" /></a>
                    </figure>
                </div>
            </div>
            <div class="home__section-row columns">
                <div class="home__section-column column is-8">
                    <h3 class="title is-3">Descodifiquem la informàtica</h3>
                    <h4 class="subtitle is-5">
                        Treballem per fer-la accessible i inclusiva
                    </h4>
                    <a class="button is-link" href="{{ base.url | prepend: site.url }}/workshops.html"><b>Descobreix els nostres tallers</b>
                    </a>
                </div>
                <div class="home__section-column img-column column is-4">
                    <figure>
                        <a href="{{ base.url | prepend: site.url }}/workshops.html"><img src="{{ base.url | prepend: site.url }}/assets/images/learning.png" /></a>
                    </figure>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="team" class="home__section">
    <h2 class="home__title title is-3">Nosaltres</h2>
    <div class="home__section-content">
		<div class="home__us home__section-row columns">
            <div class="home__us home__section-column column is-6">
                <div class="content">
                    <div class="toggle-container">
                        <a class="us__information-toggle" aria-expanded="false">
                            <h3 class="title is-6 us__information-toggle-btn" role="button" aria-pressed="false" tabindex="0">Solucions digitals</h3>
                            <p class="us__information-description">Treballem per una digitalització a escala humana i amb caràcter comunitari. Naixem amb voluntat de desenvolupar productes i serveis digitals des de la cultura del programari lliure.</p>
                        </a>
                    </div>
                    <div class="toggle-container">
                        <a class="us__information-toggle" aria-expanded="false">
                            <h3 class="title is-6 us__information-toggle-btn" role="button" aria-pressed="false" tabindex="0">Tecnologia i cultura lliure</h3>
                            <p class="us__information-description">Volem ser espai de reflexió i formació crítica al voltant de la informàtica. Solucions simples a problemes simples, apropiables, accessibles i inclusives per garantir una tecnologia útil i
                                empoderadora a escala local i comunitària. A favor de la creació
                                entesa com a procés col·lectiu i comunitari basat en la còpia, la
                                reutilització i la reapropiació.</p>
                        </a>
                    </div>
                    <div class="toggle-container">
                        <a class="us__information-toggle" aria-expanded="false">
                            <h3 class="title is-6 us__information-toggle-btn" role="button" aria-pressed="false" tabindex="0">Autoocupació cooperativa</h3>
                            <p class="us__information-description">
                                Apostem per projectes d'ocupació a través de la cooperació per
                                superar les formes de treball basades en lògiques capitalistes.
                                Volem construir espais laborals basats en l'horitzontalitat i les cures.
                            </p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="home__us home__section-column column is-6">
                <div class="home__profiles-wrapper">
                    <div class="home__team-picture"></div>
                    <div class="home__profiles">
                        <div class="home__profile lucas">
                            <h5 class="title is-5">Lucas García</h4>
                                <p>Graduat en sociologia, apasionat del món GIS i desenvolupador web de professió.
                                </p>
                        </div>
                        <div class="home__profile pau">
                            <h5 class="title is-5">Pau Pulido</h5>
                            <p>Graduat en físiques, desenvolupador web autodidacta i docent en formació</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<section id="projects" class="home__section">
    <div class="projects__content">
        <h2 class="home__title title is-3">
            Projectes
        </h2>
        <div class="projects__data">
            {% assign home_projects = site.data.projects | slice: 0,2 %}
            {% for project in home_projects %}
            <article name="{{project.name}}" class="projects__product">
                <a href="{{ project.url }}" target="_blank">
                    <img src="{{ base.url | prepend: site.url }}/assets/images/projects/{{project.imagename}}.png">
                </a>
                <div class="projects__product-body">
                    <a href="{{project.url}}" target="_blank">
                        <h2 class="projects__product-title title is-5">{{project.name}}</h2>
                    </a>
                    <ul class="projects__product-tags">
                        {% for tag in project.tags %}
                        <li>{{tag}}</li>
                        {% endfor %}
                    </ul>
                </div>
            </article>
            {% endfor %}
        </div>
        <div class="container__home__projects">
            <p class="home__projects"><a class="button is-link" href="/projects.html"><b>Coneix els nostres projectes</b></a></p>
        </div>
    </div>
</section>
<section id="contact" class="home__section">
    {% include footer.html %}
</section>

<script src="{{ base.url | prepend: site.url }}/assets/js/pages/home.js"></script>
