---
---

@import "reset";
@import "colors";
@import "images";
@import "breakpoints";
@import "typography";

main.home {
    overflow: hidden;
    height: 100vh;
}

.home__section {
    display: flex;
    flex-direction: column;
    padding: calc(2rem + #{$header-height}) #{$site-paddings} 3rem;
    min-height: 100vh;
    scroll-snap-align: start;

    &#home {
        background-color: $regent-st-blue;
        padding-bottom: 85;
        @include m-background-image("/assets/images/keys.gif", cover);
        background-position-y: bottom;
    }

    &#about {
        background-color: $regent-st-blue;
    }

    &#work {
        background-color: $tidal;
    }

    &#team {
        background-color: $pastel-pink;
    }
}

.home__section-content {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.home__section-row {
    display: flex;
    @include m-media(sm, xmd) {
        flex-direction: column;
    }
}

.home__section-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home__title {
    font-size: ms(4);
    font-weight: 500;

    &:not(:last-child) {
        margin-bottom: 1.75rem;
    }
}

.home__cite {
    display: block;
    margin: 0 auto;
    padding: 1em 0 2em;
    flex: 1;

    blockquote {
        text-indent: indent;
        font-size: ms(0);
    }

    figcaption {
        padding-left: 15%;
        text-align: right;
        margin: 1em 0;
        font-size: .8em;
    }
}

.home__services {
    .title {
        margin-bottom: .5em;
    }

    img {
        filter: grayscale(.5) drop-shadow(2px 2px 2px #0003);
        transition: filter 200ms ease-in;
        max-height: 30vh;
    }

    .home__section-row {
        .is-mobile & {
            &:active img {
                filter: grayscale(0);
            }

            img {
                filter: grayscale(0) drop-shadow(2px 2px 2px #0003);
            }
        }

        &:hover img {
            filter: grayscale(0);
        }

        &:nth-child(even) {
            @include m-media(sm, xmd) {
                flex-flow: column-reverse;
                padding-top: 2em;
            }
        }
    }

    .home__section-column.img-column {
        a {
            width: 100%;
            // height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            > label {
                margin-top: .5em;
                font-weight: bold;
                font-size: 1.5em;
            }
        }
    }
}

.home__us {
    flex: 1;

    .home__section-column {
        display: flex;

        .title {
            margin-bottom: .5rem;
        }
    }

    .home__profiles {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        figure {
            flex: 1;
            flex-basis: 200px;
            cursor: help;
            position: relative;

            img {
                filter: grayscale(1);
                transition: filter 200ms ease-in;
            }

            figcaption {
                text-align: center;
                font-size: ms(1);
            }

            .quote-wrapper {
                display: none;
                position: absolute;
                top: 0px;
                left: 50%;
                transform: translate(-50%, - 100%);
                min-width: 100%;
                max-width: 80vw;
            }

            .quote {
                position: relative;
                display: block;
                padding: .5em 1.2em;
                background: white;
                box-shadow: 2px 2px 6px #0003;
                border-radius: 6px;

                &:after {
                    content: "";
                    position: absolute;
                    border-top: 10px solid white;
                    border-left: 10px solid transparent;
                    border-right: 10px solid transparent;
                    width: 10px;
                    height: 10px;
                    transform: translate(-200%, 95%);
                    right: 0px;
                    bottom: 0px;
                }
            }

            q {
                font-size: ms(0);
                line-height: 1.5;
            }

            &:hover {
                img {
                    filter: grayscale(0)
                }

                .quote-wrapper {
                    display: block;
                }
            }
        }
    }
}

.scroll-viewport {
    position: absolute;
    z-index: 90;
    pointer-events: none;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}

.scroll-span {
    width: 100%;
    margin-top: -#{$header-height};
    background: transparent;
}
