---
---

@import "reset";
@import "colors";
@import "images";
@import "breakpoints";

main.products {
    padding: $header-height $site-paddings 175px;

    .products__title {
		margin-top: 15px;
		height: 110px;
		color: white;
        font-weight: 500;
		line-height: .9;
		display: flex;
		flex-direction: column;
		justify-content: end;
		padding-bottom: 10px;

		.is-mobile & {
			height: 75px;
		}

		@include m-media(md) {
			font-size: 2.5rem;
		}

        .subtitle {
			color: white;
            display: block;

			@include m-media(zr, md) {
				font-size: 1rem;
			}
        }
    }

    hr {
        margin: 2rem 0 3rem;
        background-color: $font-color;
        height: 1px;
    }
}

.products__image {
    padding-left: 5vw;
    filter: drop-shadow(2px 2px 6px #0003);
    display: flex;
    align-items: center;
    justify-content: center;
}

.products__product {
	position: relative;

	.products__product-body {
		width: 100%;
	}

    @include m-media(zr, md) {
        flex-direction: column;
        align-items: center;
        flex-flow: column-reverse;

        .products__product-badge {
            margin: 0;

            .is-128x128 {
                width: 100%;
                height: 150px;
                display: flex;
                align-items: center;

                > img {
                    max-height: 100%;
                }
            }
        }
    }

    .products__product-badge {
        margin-top: .25em;
    }

    &[name="artesania"] img {
        filter: saturate(.7) drop-shadow(2px 2px 6px #00006030);
    }

	.products__product-toggle {
		cursor: default;
		text-decoration: none;
		color: $font-color;

		&:not(.open) .products__product-description {
			display: none;
		}

		.products__product-toggle-btn {
			cursor: pointer;
			position: absolute;
			right: 0px;
			top: 1rem;
			padding: 0.2em 0.6em;
			margin: 0px;
			color: white;
			border-radius: 4px;
		}

		.products__product-description {
			margin-bottom: 1em;
		}
	}
}

.products__product-footer {
    display: flex;
    justify-content: space-between;
    @include m-media (sm, md) {
        margin-bottom: 2rem;
    }
}

.products__product-link {

    &:not(:first-child) {
        margin-left: 10px;
    }

    &:hover {
        text-decoration: none;
    }

    .icon {
        opacity: .75;

        > i {
            width: 100%;
            height: 100%;
        }

        &.webpage i {
            @include m-icon(webpage);
        }

        &.github i {
            @include m-icon(github);
        }
    }
}
