---
---

@import 'reset';
@import 'breakpoints';

main.archive {
    padding: $header-height $site-paddings 175px;
	min-height: 100vh;

    .projects__title {
		margin-top: 15px;
		height: 110px;
        font-weight: 500;
		line-height: .9;
		display: flex;
		flex-direction: column;
		justify-content: end;
		padding-bottom: 10px;

		.is-mobile & {
			height: 75px;
		}

		@include m-media(zr, xsm) {
			margin-top: 5px;
		}

		@media screen and (min-width: 0px) and (max-width: 340px) {
			margin-top: 15px;
		}

		@include m-media(xsm) {
			margin-top: 0px;
		}

		@include m-media(sm) {
			margin-top: 5px;
		}

		@include m-media(md) {
			font-size: 2.5rem;
		}

        .subtitle {
            display: block;

			@include m-media(zr, md) {
				font-size: 1rem;
			}
        }
    }
}

.projects__data {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    padding: 50px 0;

	@include m-media(zr, xsm)  {
		padding: 0px;
	}
}

.projects__product {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;

	&:not(:last-child) {
		padding-bottom: 3rem;
	}

	&:last-child {
		margin-top: unset;
	}

	@include m-media(md) {
		width: 50%;

		&:nth-child(odd) {
			padding-right: 1rem;
		}

		&:nth-child(even) {
			padding-left: 1rem;
		}
	}

	> a {
		display: block;
		width: 100%;

		> img {
			object-fit: cover;
			object-position: left top;
			width: 100%;
			height: 40vw;
			box-shadow: 0px 0px 6px #0003;
			border-radius: 2px;

			@include m-media(md) {
				height: 20vw;
			}
		}
	}

    h2 {
        margin-top: 1rem;
    }

    p.projects__product-description {
        margin: .5rem 0em;
        align-items: flex-start;
		margin-bottom: .5rem;

        @include m-media(zr, xsm){
            font-size:1em;  
        }
    }

    .projects__product-tags {
		margin: 0;
        display: block;
		list-style: none;

        li {
            font-size: 0.8em;
            font-weight: bold;
            text-decoration: underline;

            &:first-child {
                margin-left: 0;
            }
        }
    }
}
