---
---

@import "reset";
@import "breakpoints";

main.archive {
    padding: $header-height $site-paddings 0;
	min-height: 100vh;

    .projects__title {
		margin-top: 25px;
        font-weight: 500;
		display: flex;
		flex-direction: column;
		justify-content: end;
		padding-bottom: 10px;

		.is-mobile & {
			margin-top: 0px;

			@media (max-height: 500px) {
				font-size: 1.6875rem;
			}
		}

        .subtitle {
            display: block;
        }
    }
}

.projects__data {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    padding: 1rem 0 3rem;
}

.projects__product {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;

	&:not(:last-child) {
		padding-bottom: 3rem;
	}

	@include m-media(md) {
		width: 50%;

		&:nth-child(odd) { padding-right: 1rem; }
		&:nth-child(even) { padding-left: 1rem; }
        &:not(:last-child) { padding-bottom: 3rem; }
	}

    .is-mobile & {
        @include m-media(landscape) {
            width: 50%;

		    &:nth-child(odd) { padding-right: 1rem; }
		    &:nth-child(even) { padding-left: 1rem; }
            &:not(:last-child) { padding-bottom: 3rem; }
        }
    }

	> a {
		display: block;
		width: 100%;

		picture {
			display: flex;
			align-items: center;
			justify-content: center;

			> img {
				object-fit: cover;
				object-position: left top;
				width: 100%;
				height: 40vw;
				box-shadow: 0px 0px 6px #0003;
				border-radius: 5px;
				height: 40vw;
                max-height: 30vh;
			
				@include m-media(md) {
					height: 20vw;
                    max-height: unset;
				}
			}
		}
	}

    .projects__product-body {
        padding-left: 2px;
        width: 100%;
    }


    h2 {
        margin-top: 1rem;
    }

    p.projects__product-description {
        margin: .5rem 0em;
        align-items: flex-start;
		margin-bottom: .5rem;

        @include m-media(zr, xsm){
            font-size: 1em;  
        }
    }

    .projects__product-tags {
		margin: 0;
        display: block;
		list-style: none;

        li {
            font-size: 0.8em;
            font-weight: bold;
            text-decoration: underline;

            &:first-child {
                margin-left: 0;
            }
        }
    }
}
