@mixin m-icon ($icon, $ext: png) {
    $url: "/assets/images/icons/" + quote($icon) + "." + quote($ext);
    @include m-background-image($url);
}

@mixin m-background-image ($url, $size: contain, $position: center, $repeat: no-repeat) {
    background-image: url(#{$url});
    background-repeat: $repeat;
    background-position: $position;
    background-size: $size;
}
