---
---

@import "colors";
@import "typography";
@import "breakpoints";

* {
    box-sizing: border-box;
    user-select: none;
}

html, body {
    overflow: auto;
    font-size: $font-size;
    font-family: Quicksand, Roboto, "sans-serif";
    color: $font-color;
    line-height: $line-height;

    &.is-mobile {
        font-size: $mobile-font-size;
        line-height: $mobile-line-height;
    }
}

.title, .subtitle {
    &.is-1 {
        font-size: ms(3);
    }

    &.is-2 {
        font-size: ms(3);
    }

    &.is-3 {
        font-size: ms(2);
    }

    &.is-4 {
        font-size: ms(1);
    }

    &.is-5 {
        font-size: ms(0);
    }
}

a:hover {
    text-decoration: underline;
    text-decoration-thickness: from-font;
}
