---
---

@import "reset";
@import "colors";
@import "breakpoints";

#pageFooter,
#contact {
	background-color: #4e4e4e;
	color: white;
}

#pageFooter {
	padding: 0 $site-paddings 3rem;
	min-height: calc(calc(var(--vh, 1vh) * 100) - #{$header_height});

	.is-mobile & {
		min-height: calc(calc(var(--vh, 1vh) * 100) - #{$mobile-header-height});
	}
}

.footer__content {
	padding: 2.5rem 0 2rem;

	@include m-media(lg) {
		padding: 2.5rem 4rem 2rem;
	}

	.is-mobile & {
		@media (max-height: 500px) {
			> .title,
			> .subtitle {
				display: none;
			}
		}
	}

	.contact {
		.field.is-grouped {
			.control {
				padding-left: 1rem;
			}
		}

		label.checkbox {
			color: white;

			> a {
				color: white;
			}
		}

		.is-mobile & {
			.contact__title {
				margin-bottom: 1rem;
			}

			.contact__field {
				input:not([type="checkbox"]) {
					height: 2rem;
					border-radius: 3px;
				}

				textarea {
					min-height: 5rem;
				}
			}
		}

		.contact__submit-field .button {
			color: white;
			background-color: $orange-peel;
			border-color: $orange-peel;
		}
	}
}
