---
---
@import "reset";
@import "typography";

header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    z-index: 100;
    height: $header-height;
    background: white;

    .navbar {
        padding: 0 #{$site-paddings};

        @media screen and (max-width: 1024px) {
            .navbar-menu {
                width: calc(100% + 20vw);
                margin-left: -10vw;

                .navbar-item {
                    text-indent: 10vw;
                }
            }
        }

        .navbar-brand .navbar-item {
            color: inherit !important;
            font-weight: bold;
        }
    }
}
